<div class="text-center">
	<h1>Welcome to Node JS !</h1>
	<div class="well">
		<h3>All the best for new coding experience.</h3>
		<hr/>
		<i class="glyphicon glyphicon-hand-right"></i> <a href="/add" class="m-l-r-5">Click Here</a> to add new technologies.
	</div>
</div>